{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Experian Identity Provider
{% endblock %}

{% block header %}
  <div class="globalLinks">
  <div class="idpHeader">
      <div class="globalLinks">
        <div class="idpHeaderContainer globalLinksMain">
          <ul class="navLinks">
            <li>
              <a class="globalNav" href="#">Consumer</a>
            </li>
            <li>
              <a class="globalNav" href="#">Small Business</a>
            </li>
            <li>
              <a class="globalNav" href="#">Business</a>
            </li>
          <li>
            <a class="globalNav" href="#">Data & Marketing</a>
          </li>
          <li>
            <a class="globalNav" href="#">Your privacy</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="idpHeaderContainer idpHeaderMain">
      <img class="experianLogo" src="/../public/images/experianLogo.png" alt="Logo"/>
      <ul class="navLinks">
          <li>
            <a class="" href="#">Credit score & report</a>
          </li>
          <li>
            <a class="" href="#">Compare credit offers</a>
          </li>
          <li>
            <a class="" href="#">Identity theft</a>
          </li>
          <li>
            <a class="" href="#">More</a>
          </li>
      </ul>
      <img class="verifyCertified" src="/../public/images/verifyCertified.png" alt="Logo"/>
    </div>

  </div>

    <div class="progressIndicator">
      <div class="active"><p class="govuk-body-s">1. Create Profile</p></div>
      <div class="active"><p class="govuk-body-s">2. Personal details</p></div>
      <div class="active"><p class="govuk-body-s">3. Proof of identity</p></div>
      <div class="active"><p class="govuk-body-s">4. Identity test</p></div>
      <div class="deactive"><p class="govuk-body-s">5. Phone</p></div>
    </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row IDPBGBlue border">
  <div class="govuk-grid-column-two-thirds">
    <img class="verifyLogo IDPLogo" src="/../public/images/experianWhite.png" alt="Logo"/>
    <div class="govuk-form-group IDPTestContainer">
      <h1 class="govuk-heading-l white">Identity Test</h1>
      <p class="govuk-body govuk-!-font-weight-bold white govuk-!-margin-bottom-1">What we're going to do</p>
      <p class="govuk-body white">We're going to ask you some questions that only you should know the answers to.</p>
      <p class="govuk-body govuk-!-font-weight-bold white govuk-!-margin-bottom-1">Why we do this</p>
      <p class="govuk-body white">This is to make sure someone else isn't pretending to be you by using your personal details or a copy of your passport or driving licence.</p>
      <div class="govuk-button-group">
        <form action="idp4a">
          <button class="govuk-button verifyButton govuk-button--inverse govuk-!-margin-top-4 govuk-body govuk-!-font-weight-bold" data-module="govuk-button">
            Next ➔
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="idpOneThird">
    <div></div>
    <div></div>
    <img class="IDPOverlay" src="/../public/images/Overlay.png" alt="Logo"/>
  </div>


</div>

{% endblock %}
