{% extends "layouts/main.html" %}

{% set pageName="Digital Identity Verification" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Renew or update your driving licence</h1>

    <p class="govuk-body">Price: £20</p>

    <p class="govuk-body">Cards accepted: MasterCard, Visa, Electron, Maestro or Delta, debit or credit.</p>

    <p class="govuk-body">You must be a resident of Great Britain - there's a different service in Northern Ireland.</p>

    <p class="govuk-body">You mustn't be disqualified from driving.</p>

    <div class="govuk-inset-text">
      <img class="verifyLogoText" src="/../public/images/verifyLogoText.png" alt="Logo"/>
      <p>This service uses GOV.UK Verify to check your identity.</p>
    </div>

    <a href="verifyStart" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg></a>

  </div>
</div>

{% endblock %}
