{% extends "layouts/main.html" %}

{% set pageName="Digital Identity Verification" %}

{% block content %}

<div class="govuk-grid-row bg-blue">

  <div class="govuk-grid-column-two-thirds verify-container">
    <div class="govuk-form-group">
      <p class="govuk-body white govuk-!-margin-0">Before you renew or update your driving licence</p>
      <p class="govuk-body-l white govuk-!-font-weight-bold">you need to verify your identity</p>
      <p class="govuk-body white">Is this your first time using verifying your identity?</p>
      <div class="govuk-button-group">
        <form action="verify1">
          <button class="govuk-button verifyButton govuk-button--inverse govuk-!-margin-top-4 govuk-body govuk-!-font-weight-bold" data-module="govuk-button">
            Yes
          </button>
          <button class="govuk-button verifyButton govuk-button--inverse govuk-!-margin-top-4 govuk-body govuk-!-font-weight-bold" data-module="govuk-button">
            No
          </button>
        </form>
      </div>
      <p class="govuk-body-s white">You can't use Government Gateway with this service.</p>
    </div>

  </div>

  <div class="govuk-grid-column-one-third  verifyLogoContatiner">
    <img class="verifyLogo" src="/../public/images/verifyLogo.png" alt="Logo"/>
    <p class="white govuk-body-l"><span class="govuk-!-font-weight-bold">GOV.UK</span> VERIFY</p>
  </div>


</div>

{% endblock %}
