{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Experian Idenity Provider
{% endblock %}

{% block header %}
  <div class="globalLinks">
  <div class="idpHeader">
      <div class="globalLinks">
        <div class="idpHeaderContainer globalLinksMain">
          <ul class="navLinks">
            <li>
              <a class="globalNav" href="#">Consumer</a>
            </li>
            <li>
              <a class="globalNav" href="#">Small Business</a>
            </li>
            <li>
              <a class="globalNav" href="#">Business</a>
            </li>
          <li>
            <a class="globalNav" href="#">Data & Marketing</a>
          </li>
          <li>
            <a class="globalNav" href="#">Your privacy</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="idpHeaderContainer idpHeaderMain">
      <img class="experianLogo" src="/../public/images/experianLogo.png" alt="Logo"/>
      <ul class="navLinks">
          <li>
            <a class="" href="#">Credit score & report</a>
          </li>
          <li>
            <a class="" href="#">Compare credit offers</a>
          </li>
          <li>
            <a class="" href="#">Idenity theft</a>
          </li>
          <li>
            <a class="" href="#">More</a>
          </li>
      </ul>
      <img class="verifyCertified" src="/../public/images/verifyCertified.png" alt="Logo"/>
    </div>

  </div>

    <div class="progressIndicator">
      <div class="active"><p class="govuk-body-s">1. Create Profile</p></div>
      <div class="active"><p class="govuk-body-s">2. Personal details</p></div>
      <div class="deactive"><p class="govuk-body-s">3. Proof of idenity</p></div>
      <div class="deactive"><p class="govuk-body-s">4. Idenity test</p></div>
      <div class="deactive"><p class="govuk-body-s">5. Phone</p></div>
    </div>

{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">
    Personal details
  </h1>

  <form action="" method="post">
  <div class="govuk-form-group">
    <label class="govuk-label" for="title">
      Title
    </label>
    <select class="govuk-select" id="title" name="title">
      <option value="mr">Mr</option>
      <option value="miss" selected>Miss</option>
      <option value="mrs">Mrs</option>
      <option value="dr">Dr</option>
    </select>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="firstName">
      First name
    </label>
    <p class="govuk-body">
    <input class="govuk-input govuk-input--width-20" id="firstName" name="firstName" type="text">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="lastName">
      Last name
    </label>
    <input class="govuk-input govuk-input--width-20" id="lastName" name="lastName" type="text">
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
      <legend class="govuk-fieldset__legend">
          Date of birth
      </legend>
      <div class="govuk-date-input" id="dob">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dob-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dob-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dob-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="title">
      Title
    </label>
    <select class="govuk-select" id="title" name="title">
      <option value="mr">Male</option>
      <option value="miss" selected>Female</option>
      <option value="mrs">X or Other</option>
    </select>
  </div>

  <button class="govuk-button" data-module="govuk-button">
    Next
  </button>
</form>



{% endblock %}
