{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Experian Idenity Provider
{% endblock %}

{% block header %}
  <div class="globalLinks">
  <div class="idpHeader">
      <div class="globalLinks">
        <div class="idpHeaderContainer globalLinksMain">
          <ul class="navLinks">
            <li>
              <a class="globalNav" href="#">Consumer</a>
            </li>
            <li>
              <a class="globalNav" href="#">Small Business</a>
            </li>
            <li>
              <a class="globalNav" href="#">Business</a>
            </li>
          <li>
            <a class="globalNav" href="#">Data & Marketing</a>
          </li>
          <li>
            <a class="globalNav" href="#">Your privacy</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="idpHeaderContainer idpHeaderMain">
      <img class="experianLogo" src="/../public/images/experianLogo.png" alt="Logo"/>
      <ul class="navLinks">
          <li>
            <a class="" href="#">Credit score & report</a>
          </li>
          <li>
            <a class="" href="#">Compare credit offers</a>
          </li>
          <li>
            <a class="" href="#">Idenity theft</a>
          </li>
          <li>
            <a class="" href="#">More</a>
          </li>
      </ul>
      <img class="verifyCertified" src="/../public/images/verifyCertified.png" alt="Logo"/>
    </div>

  </div>

    <div class="progressIndicator">
      <div class="active"><p class="govuk-body-s">1. Create Profile</p></div>
      <div class="active"><p class="govuk-body-s">2. Personal details</p></div>
      <div class="active"><p class="govuk-body-s">3. Proof of idenity</p></div>
      <div class="active"><p class="govuk-body-s">4. Idenity test</p></div>
      <div class="deactive"><p class="govuk-body-s">5. Phone</p></div>
    </div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">

  <span class="govuk-caption-l">Idenity test</span>
  <h1 class="govuk-heading-l">
    Proof of idenity
  </h1>

  <form action="idp6" method="post">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-font-weight-regular">
          What are the first 2 letters of the last name of another person on the electoral register at your address?
        </legend>
        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="register" name="register" type="radio" value="Ka">
            <label class="govuk-label govuk-radios__label" for="register">
              Ka
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="register-2" name="register" type="radio" value="Sm">
            <label class="govuk-label govuk-radios__label" for="register-2">
              Sm
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="register-3" name="register" type="radio" value="Jo">
            <label class="govuk-label govuk-radios__label" for="register-3">
              Jo
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="register-4" name="register" type="radio" value="Ch">
            <label class="govuk-label govuk-radios__label" for="register-4">
              Ch
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="register-5" name="register" type="radio" value="None of these">
            <label class="govuk-label govuk-radios__label" for="register-5">
              None of these
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <button class="govuk-button" data-module="govuk-button">
      Next
    </button>
  </form>
</div>



{% endblock %}
