{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Experian Idenity Provider
{% endblock %}

{% block header %}
  <div class="globalLinks">
  <div class="idpHeader">
      <div class="globalLinks">
        <div class="idpHeaderContainer globalLinksMain">
          <ul class="navLinks">
            <li>
              <a class="globalNav" href="#">Consumer</a>
            </li>
            <li>
              <a class="globalNav" href="#">Small Business</a>
            </li>
            <li>
              <a class="globalNav" href="#">Business</a>
            </li>
          <li>
            <a class="globalNav" href="#">Data & Marketing</a>
          </li>
          <li>
            <a class="globalNav" href="#">Your privacy</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="idpHeaderContainer idpHeaderMain">
      <img class="experianLogo" src="/../public/images/experianLogo.png" alt="Logo"/>
      <ul class="navLinks">
          <li>
            <a class="" href="#">Credit score & report</a>
          </li>
          <li>
            <a class="" href="#">Compare credit offers</a>
          </li>
          <li>
            <a class="" href="#">Idenity theft</a>
          </li>
          <li>
            <a class="" href="#">More</a>
          </li>
      </ul>
      <img class="verifyCertified" src="/../public/images/verifyCertified.png" alt="Logo"/>
    </div>

  </div>

    <div class="progressIndicator">
      <div class="active"><p class="govuk-body-s">1. Create Profile</p></div>
      <div class="active"><p class="govuk-body-s">2. Personal details</p></div>
      <div class="active"><p class="govuk-body-s">3. Proof of idenity</p></div>
      <div class="active"><p class="govuk-body-s">4. Idenity test</p></div>
      <div class="deactive"><p class="govuk-body-s">5. Phone</p></div>
    </div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">

  <span class="govuk-caption-l">Idenity test</span>
  <h1 class="govuk-heading-l">
    Proof of idenity
  </h1>

  <form action="idp8" method="post">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-font-weight-regular">
          What is your credit limit on that card?
        </legend>
        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="credit" name="credit" type="radio" value="500">
            <label class="govuk-label govuk-radios__label" for="credit">
              £500
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="credit-2" name="credit" type="radio" value="1000">
            <label class="govuk-label govuk-radios__label" for="credit-2">
              £1000
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="credit-3" name="credit" type="radio" value="1250">
            <label class="govuk-label govuk-radios__label" for="credit-3">
              £1250
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="credit-4" name="credit" type="radio" value="2000">
            <label class="govuk-label govuk-radios__label" for="credit-4">
              £2000
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="credit-5" name="bank" type="radio" value="4500">
            <label class="govuk-label govuk-radios__label" for="credit-5">
              £4500
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <button class="govuk-button" data-module="govuk-button">
      Next
    </button>
  </form>
</div>



{% endblock %}
